@import '~bootstrap/scss/bootstrap';
@import "../js/layer/theme/default/layer.css";

$contentBottomHeight: 60px;

html,body {
  height: 100%;
  width: 100%;
}

.top-tab-content {
  height: 100%;

  .top-tab-pane {
    height: 100%;
    padding-top: 20px;
    position: relative;

    .second-table-content {
      position: absolute;
      bottom: $contentBottomHeight;
      top: 62px;
      width: 100%;
      //background-color: #00c7f7;
      overflow: hidden;

      .media-list {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}

.media-list {
  .d-flex {
    flex-wrap: wrap;
    //justify-content: space-between;
  }

  .empty-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.image-item {
  width: 150px;
  height: 150px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}



.delete {
  display: none;
}

.selected {
  border: 3px solid #3fb4b5;
  position: relative;
  .delete {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #8da4bb;
    opacity: .8;
  }
}

.content-bottom {
  height: $contentBottomHeight;
  //background-color: #3fb4b5;
  margin-top: -$contentBottomHeight;
  display: flex;
  align-items: center;
  position: relative;
}

.selected-medium {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  overflow-x: auto;
  .selected-media {
    width: 45px;
    height: 45px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.upload-file {
  display: flex;
  justify-content: center;
  align-items: center;
  .upload-tip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

}


